version: "3.9"

services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: forms_user
      POSTGRES_PASSWORD: forms_pass
      POSTGRES_DB: metrics_db
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./init/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  web:
    build:
      context: .
      dockerfile: src/Dockerfile
    container_name: flask_app
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - db
    volumes:
      - ./src:/app

volumes:
  db_data:
